$titulos: (
        p: 18px,
        h1: 300%,
        h2: 200%,
        h3: 150%,
        h5: 100%
); 

@each $titulo, $fs in $titulos {
   #{$titulo} {
       font-size: $fs;
   }
}

$colores: (
    base: #0081c7,
    especial: #429639,
);

p {
    color: map-get($colores, especial);
    font-family: "Lucida Console", "Courier New", monospace; }
    p:hover {
      color: map-get($colores, base); }


@mixin padding-margin{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


